@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    font-family: "Raleway", sans-serif;
}

nav ul li {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    font-weight: 400;
    font-size: 20px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.home {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.intro {
    position: relative;
    top: 33vh;
    padding-left: 8vw;
    width: 80vw;
}

.intro h3 {
    font-size: 67px;
    font-weight: 200;
}

.intro h1 {
    font-size: 183px;
    font-weight: 300;
}

.intro h4 {
    font-size: 38px;
    font-weight: 400;
    padding-top: 14px;
}

.intro h5 {
    font-size: 23px;
    font-weight: 200;
    width: 60vw;
    padding-top: 27px;
}

.photo {
    position: relative;
    top: 15vh;
    right: 12vw;
}

.photo img {
    max-width: 450px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100vh;
        text-align: center;

    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .photo img {
        max-width: 250px;
    }

    .photo {
        position: relative;
        top: 13vh;
        right: 54vw;
    }

    .intro {
        position: relative;
        top: 51vh;
        padding-left: 8vw;
        width: 80vw;
    }

    .intro h3 {
        font-size: 42px;
        font-weight: 200;
    }

    .intro h1 {
        font-size: 100px;
        font-weight: 300;
    }

    .intro h4 {
        font-size: 22px;
        font-weight: 300;
        padding-top: 14px;
    }

    .intro h5 {
        font-size: 14px;
        font-weight: 400;
        width: 80vw;
        padding-top: 14px;
    }

    nav {
        padding: 16px 42px;
        background-color: rgb(0, 0, 0);
    }

}

/*DARK THEME RELATED SWITCHES*/

body.dark-theme {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

nav.dark-theme {
    background-color: #ffffff;
}

.nav-links.dark-theme {
    background-color: #ffffff;
}

body.dark-theme a{
    color: inherit;
}

/*Skills and all*/

.skill,
.exp,
.projects {
    display: flex;
    flex-direction: column;
    padding-left: 150px;

}

.block {
    height: auto;
    width: 40vw;
    padding: 20px 0;
}

.block-h2 {
    font-size: 38px;
    font-weight: 500;
}

.block-h3 {
    font-size: 24px;
    font-weight: 200;
}

.heading {
    font-size: 68px;
    font-weight: 600;
    margin: 74px 113px;
}

.project-block {
    height: auto;
    width: 40vw;
    padding: 20px 0;
}

.project-block-h2 {
    font-size: 38px;
    font-weight: 500;
}

.project-block-h3 {
    font-size: 24px;
    font-weight: 200;
}

.project-block a {
    text-decoration: none;
    color: #ffffff;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 100px;

}

.open h2 {
    font-size: 55px;
    font-weight: 500;
}

.open a {
    text-decoration: none;
    padding: 10px;
    margin: 22px 0px;
    border: 2px solid white;
    border-radius: 20px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.open a:hover {
    background-color: #ffffff;
    color: black;
}

.email {
    height: 50vh;

}

.email h1 {
    font-size: 70px;
    font-weight: 500;
    cursor: pointer;
}

.email h4 {
    font-size: 22px;
    font-weight: 300;
}


@media (max-width:768px) {

    .skill,
    .exp,
    .projects {
        display: flex;
        flex-direction: column;
        padding-left: 60px;

    }

    .block {
        height: auto;
        width: 75vw;
        padding: 20px 0;
    }

    .block-h2 {
        font-size: 32px;
        font-weight: 500;
    }

    .block-h3 {
        font-size: 20px;
        font-weight: 200;
    }

    .heading {
        font-size: 54px;
        font-weight: 500;
        margin: 35px 35px;
    }

    .project-block {
        height: auto;
        width: 75vw;
        padding: 20px 0;
    }

    .project-block-h2 {
        font-size: 32px;
        font-weight: 500;
    }

    .project-block-h3 {
        font-size: 20px;
        font-weight: 200;
    }

    .open h2 {
        font-size: 36px;
        font-weight: 500;
    }

    .open a {
        border-radius: 12px;
        font-size: 18px;
        font-weight: 300;

    }

    .email h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .email h4 {
        font-size: 18px;
        font-weight: 300;
    }

    .email {
        height: 30vh;
    }
}

.links.dark-theme:hover{
    background-color: black;
    color: white;
}